<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        Snippet Review
      </a>
    </div>
    <div class="pull-right">
      <a href="/snippet/new" class="btn btn-default navbar-btn">New Snippet</a>
    </div>
  </div>
</nav>