<!-- main.handlebars -->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Code Review</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script type="text/javascript" src="/javascript/scripts.js"> </script>
</head>
<body>
  {{> navbar}}
 <div class="container">
    {{{body}}}
  </div>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>