<form method="POST" action="/snippet/{{snippet._id}}?_method=PUT">
  {{> snippet-form}}
  <!-- BUTTON -->
  <p>
    <button type="submit">Save Snippet</button>
    <p><a href="/snippet/{{snippet._id}}">Cancel</a></p>
  </p>
</form>